{% extends 'base.html' %}
{% load staticfiles %}
{%block content %}
<style type="text/css">
#login-page {
   width: 500px;
}

.card {
     position: absolute;
     left: 50%;
     top: 50%;
     -moz-transform: translate(-50%, -50%)
     -webkit-transform: translate(-50%, -50%)
     -ms-transform: translate(-50%, -50%)
     -o-transform: translate(-50%, -50%)
     transform: translate(-50%, -50%);
}
</style>
<div id="login-page" class="row">
	<center><h5>Ingrese una pregunta</h5></center>
      <div class="col s12 z-depth-6 card-panel">
		<form  action="."  method="POST" enctype="multipart/form-data">
			{% csrf_token %}
	          <div class="row">
	          </div>

	          <div class="row">
	            <div class="input-field col s12">
		              <i class="material-icons prefix">person_outline</i>
		              <input class="validate"  type="text" name="nombre" id="id_nombre">
		              <label for="nombre">Nombre</label>
	            </div>
          	  </div>

          	  <div class="row">
	            <div class="input-field col s12">
		              <i class="material-icons prefix">person_outline</i>
		              <input class="validate"  type="text" name="materia" id="id_materia" value="{{object.serie}}">
		              <label for="materia">Materia</label>
	            </div>
          	  </div>

          	  <div class="row">
          	  	<div class="input-field col s12">
				    <select  name="semestre" id="id_semestre">
				      <option value="" disabled selected>Choose your option</option>
				      <option value="1">1</option>
				      <option value="2">2</option>
				      <option value="3">3</option>
				      <option value="4">4</option>
				      <option value="5">5</option>
				      <option value="6">6</option>
				      <option value="7">7</option>
				      <option value="8">8</option>
				      <option value="9">9</option>
				    </select>
				    <label>semestre</label>
				</div>
          	  </div>

          	  <div class="row">
          	  	<div class="input-field col s12">
				    <select name="dificultad" id="id_dificultad">
				      <option value="" disabled selected>Choose your option</option>
				      <option value="Facil">Facil</option>
				      <option value="Intermedio">Intermedio</option>
				      <option value="Dificil">Dificil</option>
				    </select>
				    <label>Dificultad</label>
				</div>
          	  </div>

          	  <div class="row">
	            <div class="input-field col s12">
		              <i class="material-icons prefix">person_outline</i>
		              <input class="validate"  type="text" name="valor" id="id_valor">
		              <label for="valor">Valor</label>
	            </div>
          	  </div>

          	  <div class="row">
		            <button class="btn waves-effect waves-light col s12" type="submit" name="action" id="boton-guardar" name="boton-guardar">Registrar
		            </button>
          	  </div>
		</form>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
	            $('#boton-guardar').click(function(){
	                
	                var pregunta = document.getElementById("id_nombre").value;
	               
	                localStorage.setItem("Pregunta", pregunta);
	                
	             });
	        });
	    </script>
</div>
{%endblock%}