{% extends 'base.html' %}
{% load staticfiles %}
{%block content %}
<div class="container">
	<center><h2>Resultados por materia de {{user.alumno.nombre}}</h2></center>
	<div class="row">
		<table class="responsive-table centered highlight bordered">
		        <thead>
		          <tr>
		              <th data-field="serie">Serie</th>
		              <th data-field="nombre">Nombre</th>
		              <th data-field="maestro">Maestro</th>
		              <th data-field="calificacion">Calificacion</th>
		          </tr>
		        </thead>

		        <tbody>
		         {%for i in a_m%}
		          <tr>
		            <td>{{i.materi.serie}}</td>
		            <td>{{i.materi.nombre}}</td>
		            <td>{{i.materi.maestro_a.nombre}}</td>
		            <td><a href="/detalle_calificacion/{{i.materi.serie}}">ver</a></td>
		          </tr>
		          {%endfor%}
		        </tbody>
		</table>
	</div>
</div>
{%endblock%}