{% extends 'base.html' %}
{% load staticfiles %}
{%block content %}
<style type="text/css">
#login-page {
   width: 500px;
}

.card {
     position: absolute;
     left: 50%;
     top: 50%;
     -moz-transform: translate(-50%, -50%)
     -webkit-transform: translate(-50%, -50%)
     -ms-transform: translate(-50%, -50%)
     -o-transform: translate(-50%, -50%)
     transform: translate(-50%, -50%);
}
</style>
<div id="login-page" class="row">
	<center><h5>Genere un Examen MAALO</h5></center>
      <div class="col s12 z-depth-6 card-panel">
		<form  action="."  method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="row">
	          </div>

	          <div class="row">
	            <div class="input-field col s12">
		              <i class="material-icons prefix">person_outline</i>
		              <input class="validate"  type="text" name="id_materia" id="id_materia" value="">
		              <label for="id_materia">Materia</label>
	            </div>
          	  </div>


          	  <div class="row">
	            <div class="input-field col s12">
		              <i class="material-icons prefix">person_outline</i>
		              <input class="validate"  type="text" name="unidad" id="unidad">
		              <label for="unidad">Unidad</label>
	            </div>
          	  </div>
          	  
          	  {%for i in pregunta_res%}
	          	  <div class="row">
		          	   <p class ="col s12 m12 l12">
			              <input type="checkbox" id="id_correcta"  class="filled-in" name="correcta" />
			              <label for="id_correcta">{{i.id_pregunta}}</label>
		               </p>
	               </div>
	          {%endfor%}
          	  

          	  <div class="row">
		            <button class="btn waves-effect waves-light col s12" type="submit" name="action" id="boton-guardar" name="boton-guardar">Crear
		            </button>
          	  </div>

		</form>
	 </div>
</div>
{%endblock%}